.slide-image-container {
	background-image: linear-gradient(
			rgba(18, 18, 18, 0) 10vw,
			rgb(18, 18, 18) 46.875vw
		),
		linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%);
}
.slide-image {
	width: 100vw;
	position: relative;
	z-index: -1;
	box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	min-height: 37.5vw;
	padding-bottom: 7vh;
	padding-top: 7vw;
	padding-right: 43px;
	padding-left: 43px;
	display: grid;
	grid-template-columns: 1fr 1.8fr;
}

.content-logo {
	max-width: 20vw;
	max-height: 10vw;
	margin-bottom: 10px;
	cursor: pointer;
}
.content-story,
.content-teaser {
	font-size: 14px;
	line-height: 1.75;
	margin-bottom: 18px;
	display: block;
}
.content-headline {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}
.content-caption {
	font-size: 20px;
}
.content-marketable {
	background-color: rgb(255, 196, 0);
	line-height: 1.75;
	border-radius: 5px;
	display: block;
	margin-right: 16px;
	color: var(--background-color);
	font-size: 12px;
	padding: 0 5px;
	font-weight: 800;
}

.content-btns {
	display: flex;
	align-items: center;
}

.content-btn-trailer {
	background: rgba(114, 114, 114, 0.438);
	color: var(--headline-color);
	border-radius: 5px;
	font-size: 12px;
	line-height: 42px;
	font-family: inherit;
	padding: 0 20px;
	margin-left: 18px;
	cursor: pointer;
	margin-bottom: 24px;
}
.content-btn-trailer:hover {
	background: rgba(197, 197, 197, 0.438);
}

/**************************/
/* media queries under 1280px  */
/**************************/
@media (max-width: 1280px) {
	.content {
		grid-template-columns: 1fr 0.5fr;
		padding-top: 90px;
		padding-right: 32px;
		padding-left: 32px;
	}

	.content-story,
	.content-teaser {
		font-size: 12px;
		margin-bottom: 16px;
	}
	.content-caption {
		font-size: 18px;
	}
	.content-logo {
		margin-bottom: 8px;
	}
	.content-btn-trailer {
		margin-bottom: 16px;
	}
}

/**************************/
/* media queries under 800px  */
/**************************/
@media (max-width: 800px) {
	.content {
		grid-template-columns: 1fr;
		width: 100%;
		padding-top: 72px;
		padding-right: 24px;
		padding-left: 24px;
	}
	.content-story {
		display: none;
	}
	.content-logo {
		max-width: 20vw;
		max-height: 10vw;
		margin-bottom: 8px;
	}
	/* .content-container {
		position: relative;
	} */
}
/**************************/
/* media queries under 500px  */
/**************************/

@media (max-width: 500px) {
	.slide-image-container {
		background-image: linear-gradient(
			rgba(18, 18, 18, 0) 10vw,
			rgb(18, 18, 18) 135vw
		);
	}
	.content-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 45vh;
		width: 100%;
	}
	.content {
		display: flex;
		justify-content: center;
	}
	.content-caption {
		margin-bottom: 6px;
	}

	.content-headline {
		display: flex;
		justify-content: center;
	}
	.content-caption {
		font-size: 14px;
	}
}
