.loader-container {
	position: absolute;
	right: 50vw;
	top: 50vh;
}

@keyframes progresswave {
	from {
		border: 3px rgba(255, 255, 255, 0.575) solid;
		width: 6px;
		height: 6px;
		border-radius: 6px;
	}
	to {
		border: 3px rgba(255, 255, 255, 0) solid;
		width: 96px;
		height: 96px;
		border-radius: 48px;
	}
}

.loader::before,
.loader::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	animation: 1.2s linear infinite progresswave;
}

.loader::after {
	animation-delay: 0.6s;
}
