.content-casts {
	font-size: 12px;
	margin-bottom: 6px;
}
.content-casts a {
	display: inline-block;
	padding: 0 8px;
	line-height: 1.75;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
/**************************/
/* media queries under 1280px  */
/**************************/
@media (max-width: 1280px) {
	.content-casts {
		font-size: 10px;
		margin-bottom: 4px;
	}
}
/**************************/
/* media queries under 800px  */
/**************************/
@media (max-width: 800px) {
	.content-casts {
		font-size: 12px;
		margin-bottom: 8px;
	}
}
/**************************/
/* media queries under 500px  */
/**************************/
@media (max-width: 500px) {
	.content-casts {
		display: none;
	}
}
