.content-moreInfo span {
	color: #fff;
	margin-right: 8px;
}
.content-moreInfo {
	font-size: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 24px;
}

.content-moreInfo:hover span {
	color: #2a96fc;
}
.content-moreInfo:hover .more-info {
	fill: #2a96fc;
}
/**************************/
/* media queries under 1280px  */
/**************************/
@media (max-width: 1280px) {
	.content-moreInfo {
		margin-bottom: 16px;
	}
}

/**************************/
/* media queries under 800px  */
/**************************/
@media (max-width: 800px) {
	.content-moreInfo {
		display: none;
	}
}
