.dot {
	height: 8px;
	width: 8px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.3;
	display: inline-block;
}
.dot:not(:first-child) {
	margin-right: 8px;
}
.active {
	opacity: 0.9;
}
.dots {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 40px;
	right: 50vw;
	transform: translate(50%, -50%);
	display: none;
}

/**************************/
/* media queries under 800px  */
/**************************/
@media (max-width: 800px) {
	.dots {
		display: flex;
	}
}
/**************************/
/* media queries under 500px  */
/**************************/
